/* Add your CSS styles here */

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #333;
  color: #fff;
}

/* Form Styles */
.contact-form {
  margin-top: 20px;
  text-align: center;
}

.form-row {
  margin-bottom: 20px;
}

.form-row label,
.form-row input {
  display: inline-block;
  vertical-align: middle;
}

.form-row input[type="text"],
.form-row input[type="email"] {
  width: 250px;
  padding: 10px;
}

input[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* Image-Paragraph Styles */
.image-paragraph {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.image-paragraph .image {
  width: 450px; /* Adjust the image width as needed */
  margin-right: 20px;
}


/* Slideshow Styles */
.slideshow-container {
  height: 400px; /* Set a fixed height for the slideshow container */
  width: 600px; /* Set a fixed width for the slideshow container */
  position: relative;
  margin: auto;
  overflow: hidden; /* Add this to hide any overflowing content */
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #9bb7cf;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav ul li a:hover {
  background-color: #555;
}

main {
  padding: 20px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
  /* Adjust layout for smaller screens (up to 600px wide) */
  body {
    font-size: 14px;
    line-height: 1.6;
    padding: 10px;
  }

  header {
    padding: 5px;
  }

  nav ul li {
    display: block;
    margin-bottom: 10px;
  }

  .slideshow-container {
    height: 300px;
    width: 100%;
  }

  .slide img {
    width: 100%;
    height: auto;
  }

  /* Hide some elements at this screen size */
  .form-row {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  /* Adjust layout for even smaller screens (up to 400px wide) */
  body {
    font-size: 12px;
    line-height: 1.4;
    padding: 5px;
  }

  header {
    padding: 2px;
  }

  nav ul li {
    display: block;
    margin-bottom: 5px;
  }

  .slideshow-container {
    height: 200px;
    width: 100%;
  }

  .slide img {
    width: 100%;
    height: auto;
  }

  /* Further hide some elements at this screen size */
  .form-row {
    display: none;
  }

  /* Modify image-paragraph layout */
  .image-paragraph {
    flex-direction: column-reverse;
  }

  .image-paragraph .image {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
